<div class="text">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe quo magnam vitae placeat explicabo
    perspiciatis doloribus deleniti dolorum facere praesentium tempore, error et eveniet? Minima officiis
    accusamus veritatis cum?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est saepe quo magnam vitae placeat explicabo
    perspiciatis doloribus deleniti dolorum facere praesentium tempore, error et eveniet? Minima officiis
    accusamus veritatis cum?
  </p>
</div>