#index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/mobile/banners/0-TI-788x430.webp");
}

#ciencia-da-computacao {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/mobile/banners/1-ciencia-da-computacao-788x430.webp");
}

#engenharia-de-software {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/mobile/banners/2-engenharia-de-software-788x430.webp");
}

#ciencia-de-dados {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/mobile/banners/3-ciencia-de-dados-788x430.webp");
}

#sistemas-de-informacao {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/mobile/banners/4-sistemas-de-informacao-788x430.webp")
}

#analise-e-desenvolvimento-de-sistemas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/mobile/banners/5-analise-e-desenvolvimento-de-sistemas-788x430.webp")
}

#engenharia-da-computacao {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/mobile/banners/6-engenharia-da-computacao-788x430.webp")
}

#big-data-ia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/mobile/banners/7-big-data-ia-788x430.webp")
}

#seguranca-da-informacao {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/mobile/banners/8-seguranca-da-informacao-788x430.webp")
}

#redes-de-computadores {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/mobile/banners/9-redes-de-computadores-788x430.webp")
}

#jogos-digitais {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/mobile/banners/10-jogos-digitais-788x430.webp")
}