:root {
  --primary-color: #da2c43;
  --link-color: #0067c2;
  --main-ligth: #fbfbfb;
  --text-ligth: #ffffff;
  --main-dark: #101010;
  --text-dark: #000000;
  --shadow: 1px 1px 5px 0px #000000;
}

html {
  scroll-behavior: smooth;
  font: 16px 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  background-color: var(--main-ligth);
}

body main {
  flex-grow: 1;
}

a:not(.btn, nav a),
a:visited:not(.btn, .btn, nav a) {
  color: var(--link-color);
  font-weight: 500;
  text-decoration: underline;
}
